.DS_Store
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/
*.py[cod]
build/
checkpoints/
dist/
envs/
data/*
external/*
models/*
outputs/*
runs/*
wandb/
!data/.gitkeep
!external/.gitkeep
!models/.gitkeep
!outputs/.gitkeep
